---
interface Props {
  title: string;
  author: string;
  note?: string;
  completed?: boolean;
}

const { title, author, note, completed = false } = Astro.props;
---

<div class={`book-entry ${completed ? 'book-entry--completed' : ''}`}>
  <div>
    <div class="book-entry__title">{title}</div>
    <div class="book-entry__author">{author}</div>
    {note && <div class="book-entry__note">{note}</div>}
  </div>
</div>
